@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Serif SC', serif;
}

.writing-vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
